.loc
{
    display: block;
    margin:auto;
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 665px) and (max-width: 1024px){
    .loc{
        margin-top:20px;
    }
}
input{
    border: 0;
    border-bottom: 1px solid white;
    width:60%;
    margin:auto;
    display: inline-block;
    height:50px;
    font-family: inherit;
    font-size:20px;
    text-align: center;
    background: none;
    color:white;
}